.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #666;
}

.App-link {
  color: #61dafb;
}

.Button {
  height: 50px;
  width: 100px;
  color: #666;
  border-radius: 90px;
  margin-top: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Button-Child {
  padding-left: 10px;
}

.Relative {
  position: relative;
}

.Menu-Container {
  display: flex;
  justify-content: space-between;
  margin: .5rem .8rem 0rem .5rem;
}

.Menu-Buttons {
  margin-top: .25rem;
  margin-right: .5rem;
  padding-left: 30px;
}

.Menu-Title {
  display: flex;
  justify-content: center;
  color: #666;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 1rem;
}

.Logo {
  height: 80px;
  width: 80px;
  background-color:#c4c4c4;
  border-radius: 3rem;
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 0rem 0rem -1rem .5rem;
}

.Title {
  display: flex;
  justify-content: center;
  color: #666;
  font-size: 1.5rem;
  padding-top: 2rem;
}

.Subtitle {
  color: #666;
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.Padding-Right {
  padding-right: 10px;
}

.Padding-Left {
  padding-left: 10px;
}


.Search-Container {
  border: 4px solid #9FDCDD;
  border-bottom: none;
  padding: 0px 10px;
  border-radius: 50vw 0 0 0;
  -webkit-box-shadow: inset 0px 0px 90px 0px #EBF6F6;
  -moz-box-shadow: inset 0px 0px 90px 0px #EBF6F6;
  box-shadow: inset 0px 0px 90px 0px #EBF6F6;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: calc(100vh - 4.75rem);
}

.Search-Container-Solid {
  padding: 4px 14px 0px;
  border-radius: 50vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9FDCDD;
  max-width: calc(100vh - 7.4rem);
}

.Catalog-Container {
  border: 4px solid #EFC1D4;
  border-bottom: none;
  margin: 10px 10px 0px 10px;
  border-radius: 55vw 55vw 0 0;
  -webkit-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  -moz-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: calc(100% - 4px);;
  height: calc(100vh - 5.65rem);
  overflow: hidden;
  filter: drop-shadow(0rem 0rem .5rem #999);
}

.Catalog-Container-Solid {
  padding: 2px 12px 0px;
  margin: 8px 10px 0px 10px;
  border-radius: 55vw 55vw 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #EFC1D4;
  width: calc(100% - 1.25rem);
  filter: drop-shadow(0rem 0rem .5rem #999);
  max-width: calc(100vh - 7.4rem);
}

.User-Container {
  height: calc(100vh - 7.15rem);
  border: 4px solid #DFCB70;
  margin: 10px;
  border-radius: 60vw 60vw 60vw 0;
  -webkit-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  -moz-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  filter: drop-shadow(0rem 0rem .5rem #999);
  width: calc(100% - 8px);
  max-width: calc(100vh - 7.4rem);
}

.Songs-Container {
  width: 80vw;
  color: #666;
  font-size: 1.5rem;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  overflow-y: scroll;
  justify-content: center;
  padding-bottom: 100px;
}

.Song-Tile-Container {
  height: calc(33vw - 40px);
  width: calc(33vw - 40px);
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px 20px 0px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EFC1D4;
  border: 2px solid #8F2F50;
  margin: 5px;
  color: #FFF;
  font-weight: bold;
  font-size: 1.25rem;
}

.Song-Tile-Container-Saved {
  height: calc(33vw - 40px);
  width: calc(33vw - 40px);
  max-width: 100px;
  max-height: 100px;
  border-radius: 20px 20px 20px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FCF5D8;
  border: 2px solid #DFCB70;
  margin: 5px;
  color: #666;
  font-weight: bold;
  font-size: 1.25rem;
}

.Footer-Catalog {
  border: 4px solid #EFC1D4;
  border-bottom: none;
  height: 50vh;
  width: 90%;
  border-radius: 50vw 50vw 0 0;
  -webkit-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  -moz-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  box-shadow: inset 0px 0px 90px 0px #F9E7EE;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.Footer-Saves {
  border: 4px solid #DFCB70;
  border-bottom: none;
  height: 50vh;
  width: 90%;
  border-radius: 50vw 50vw 0 0;
  -webkit-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  -moz-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  box-shadow: inset 0px 0px 90px 0px #F9F5E3;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

@media only screen and (orientation: landscape) {
  .Search-Container {
    border: 4px solid #9FDCDD;
    border-bottom: none;
    padding: 0px 10px;
    border-radius: 50vh 0 0 0;
    -webkit-box-shadow: inset 0px 0px 90px 0px #EBF6F6;
    -moz-box-shadow: inset 0px 0px 90px 0px #EBF6F6;
    box-shadow: inset 0px 0px 90px 0px #EBF6F6;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    height: calc(100vw - 4.75rem);
  }

  .Search-Container-Solid {
    padding: 4px 14px 0px;
    border-radius: 50vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #9FDCDD;
    max-width: calc(100vw - 7.4rem);
  }

  .Catalog-Container {
    border: 4px solid #EFC1D4;
    border-bottom: none;
    margin: 10px 10px 0px 10px;
    border-radius: 55vh 55vh 0 0;
    -webkit-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    -moz-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: calc(100% - 4px);;
    height: calc(100vw - 5.65rem);
    overflow: hidden;
    filter: drop-shadow(0rem 0rem .5rem #999);
  }

  .Catalog-Container-Solid {
    padding: 2px 12px 0px;
    margin: 8px 10px 0px 10px;
    border-radius: 55vh 55vh 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #EFC1D4;
    width: calc(100% - 1.25rem);
    filter: drop-shadow(0rem 0rem .5rem #999);
    max-width: calc(100vw - 7.4rem);
  }

  .User-Container {
    height: calc(100vw - 7.15rem);
    border: 4px solid #DFCB70;
    margin: 10px;
    border-radius: 60vh 60vh 60vh 0;
    -webkit-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    -moz-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    filter: drop-shadow(0rem 0rem .5rem #999);
    width: calc(100% - 8px);
    max-width: calc(100vw - 7.4rem);
  }

  .Songs-Container {
    width: 80vh;
    color: #666;
    font-size: 1.5rem;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    justify-content: center;
    padding-bottom: 100px;
  }

  .Song-Tile-Container {
    height: calc(33vh - 40px);
    width: calc(33vh - 40px);
    max-width: 100px;
    max-height: 100px;
    border-radius: 20px 20px 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #EFC1D4;
    border: 2px solid #8F2F50;
    margin: 5px;
    color: #FFF;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .Song-Tile-Container-Saved {
    height: calc(33vh - 40px);
    width: calc(33vh - 40px);
    max-width: 100px;
    max-height: 100px;
    border-radius: 20px 20px 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FCF5D8;
    border: 2px solid #DFCB70;
    margin: 5px;
    color: #666;
    font-weight: bold;
    font-size: 1.25rem;
  }

  .Footer-Catalog {
    border: 4px solid #EFC1D4;
    border-bottom: none;
    height: 50vw;
    width: 90%;
    border-radius: 50vh 50vh 0 0;
    -webkit-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    -moz-box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    box-shadow: inset 0px 0px 90px 0px #F9E7EE;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }

  .Footer-Saves {
    border: 4px solid #DFCB70;
    border-bottom: none;
    height: 50vw;
    width: 90%;
    border-radius: 50vh 50vh 0 0;
    -webkit-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    -moz-box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    box-shadow: inset 0px 0px 90px 0px #F9F5E3;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
  }
}

.Search-Button { 
  height: 40px; 
  width: 40px;
  background-color: #609191; 
  position: absolute; 
  right: 0;
  margin: 1rem;
}

.Footer-Container {
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 65px; 
  bottom: 0;
  display: flex;
  justify-content: center;
  filter: drop-shadow(0rem 0rem .75rem #999);
}

.Footer-Catalog-Button {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 1rem;
  display: flex;
}

.Footer-Catalog-Button {
  margin-bottom: 5px;
}

button {
  background-color: inherit;
  border: none;
  border-radius: 2rem;
}

hr {
  border: 1px solid #C4C4C4;
  border-radius: 2px;
  width: 70%;
}

div {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

div::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

@media screen and (orientation: landscape) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
}